*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.hero{
  width: 200px;
  height:200px;
  background-color:skyblue;
}

.nav{
  background-color: rgb(84, 84, 219);
  padding: 20px;
}
.footer{
  background-color: salmon;
  padding: 20px;
}