*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
/* div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
} */

.box{
  width: 200px;
  height: 200px;
  background-color: salmon;
  margin-bottom: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

button{
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button:active{
  scale: 0.9;
}

.parent{
  padding: 20px;
}

.wash{
  border-radius: 10px;
  margin-top: 20px;
  width: fit-content;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
  /* background:conic-gradient(violet,blue,green,yellow ,orange ,red ,violet); */
  background-color: rgb(255, 77, 187);
}

.women{
  margin-top: 20px;
  width: fit-content;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: pink;
}

.men{
  margin-top: 20px;
  width: fit-content;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  background-color: blue;
}