* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.section {
  background-color: rgba(0, 0, 255, 0.559);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
