* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.main-product {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 350px;
  padding: 20px;
  background-color: rgb(57, 80, 135);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.items {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.items h2 {
  font-size: 20px;
}

.home {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
}

.home h1 {
  font-size: 80px;
}

.home-btn {
  padding: 15px 20px;
  margin-top: 20px;
  background-color: lightseagreen;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.home-btn:active {
  background-color: rgb(22, 124, 119);
  user-select: none;
}
